%header#header
  .breadcrumbs= render_breadcrumbs seperator: '<div class="divider"></div>'
  #header_actions
    %span
      = link_to spina.events_admin_conference_edit_admin_conference_speaker_path, class: 'button button-primary' do
        = icon('plus')
        = t('spina.events.speakers.add')

.well
  - if @speakers.any?
    .dd#pages_list
      %ol.dd-list
        = render partial: 'speaker', collection: @speakers
  - else
    %em
      = t('spina.events.speakers.empty', scaffold_name: t('spina.events.speakers.scaffold_name_plural'))
