%header#header
  .breadcrumbs= render_breadcrumbs seperator: '<div class="divider"></div>'
  #header_actions
    %span
      = link_to spina.new_admin_events_organisation_path, class: 'button button-primary' do
        = icon('plus')
        = t('spina.events.organisations.new')

.well
  - if @organisations.any?
    .dd#pages_list
      %ol.dd-list
        = render partial: 'organisation', collection: @organisations
  - else
    %em
      = t('spina.events.organisations.empty', scaffold_name: t('spina.events.organisations.scaffold_name_plural'))
