.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Events::Session.human_attribute_name(:title)
      .horizontal-form-content
        = f.text_field :title
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Events::Session.human_attribute_name(:description)
      .horizontal-form-content
        = f.text_area :description
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Events::Session.human_attribute_name(:duration_minutes)
      .horizontal-form-content
        = f.number_field :duration_minutes
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Events::Session.human_attribute_name(:position)
      .horizontal-form-content
        = f.number_field :position
    .horizontal-form-group
      .horizontal-form-label
        = t('spina.delete')
      .horizontal-form-content
        = f.check_box :_destroy, data: { switch: true }
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Events::Session.human_attribute_name(:speakers)
      .horizontal-form-content
        = f.fields_for :session_speakers_attributes do |sp|
          = sp.select :speaker_ids, options_for_select(Spina::Events::Speaker.all.collect {|p| [ p.name, p.id ] }, f.object.speakers.ids), { :prompt => "Please select"}, { :multiple => true, include_blank: false}
